.recorder-btn {
  background: orangered;
  color: white;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  font-weight: bold;
  cursor: pointer;
  text-align: left;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blinker 1.5s linear infinite;
}

