.toolbar-btn-container {
  /* For unknown reasons these styles only apply using !important */
  display: flex !important;
  flex-direction: row !important;
  gap: 30px !important;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  background-color: #f9f8fa;
}

.toolbar-btn-separator {
  width: 1px;
  background-color: #ccc;
}

.badge {
  font-family: Helvetica;
  font-weight: bold;
  background-color: transparent;
  color: orangered;
  text-align: center;
  padding-right: 1em;
  padding-top: 0;
  font-size: 0.65em;
  cursor: pointer;
  user-select: none;
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
}

