/* .text-editor-container { */
/*   display: flex; */
/*   flex-direction: column; */
/*   /1* display: grid; *1/ */
/*   /1* grid-template-rows: 50px 1fr; *1/ */
/*   height: 100%; */
/* } */

.toolbar-btn-container {
  /* For unknown reasons these styles only apply using !important */
  display: flex !important;
  flex-direction: row !important;
  gap: 30px !important;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  background-color: white;
  /* height: 100%; */
  /* width: 100%; */
}

.toolbar-btn-separator {
  width: 1px;
  background-color: #ccc;
}

/* .editor { */ 
/*   tab-size: 2; */
/*   background: white; */
/*   outline: 1px solid lightgray; */
/*   color: black; */
/*   width: 99%; /1* Should be < 100% to allow some room to show the scrollbar *1/ */
/*   height: 100%; */
/*   padding: 5px; */
/*   overflow: auto; */
/*   overflow-x: hidden; /1* Force disable horizontal scrollbar *1/ */
/* } */

.badge {
  font-family: Helvetica;
  font-weight: bold;
  background-color: transparent;
  color: orangered;
  text-align: center;
  padding-right: 1em; /* used to be 10px */
  padding-top: 0;
  font-size: 0.65em;
  cursor: pointer;
  user-select: none;
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
}
