@import './GlobalStyles.css';

.App-logo {
  height: 50%;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-canvas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}

.App-header {
  /* background-color: #282c34; */
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: var(--header-bg-color);
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 20px;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-reader-container {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 15% 75% 10%; */
  grid-template-rows: 56.2px 1fr 50px;
  background-color: var(--main-bg-color);
  overflow: hidden;
  /* background-color: white; */
}

.reader-homepage {
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  overflow-wrap: break-word;
  color: white;
  /* white-space: pre-wrap; */
  padding: 10px 20px 10px 20px;
}

.reader-media-container {
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 10px 10px 10px 10px;
  overflow: auto;
}

.App-writer-container {
  padding: 20px;
  overflow: hidden;
  background-color: var(--sub-bg-color);
}

.editor-container {
  height: 100%;
  width: 100%;
}

.App-footer {
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  background-color: var(--header-bg-color);
  color: white;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
