/* .grid-background { */
/*   background-size: 25px 25px; */
/*   background-image: radial-gradient(circle, violet 1px, rgba(0, 0, 0, 0) 1px); */
/* } */

/* source: https://www.magicpattern.design/tools/css-backgrounds */
.diagonal-background {
  background-color: transparent;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, violet 0, violet 1px, transparent 0, transparent 50%);
}

.alternate-background:nth-child(even) {
  background: lightgray;
}

.white-bg {
  background: transparent;
}

.gray-bg {
  background: lightgray;
}
