.text-editor-container {
  display: flex;
  flex-direction: column;
  /* display: grid; */
  /* grid-template-rows: 50px 1fr; */
  height: 100%;
}

.toolbar-btn-container {
  /* For unknown reasons these styles only apply using !important */
  display: flex !important;
  flex-direction: row !important;
  gap: 30px !important;
  padding: 10px;
}

.toolbar-btn-separator {
  width: 1px;
  background-color: #ccc;
}

.editor { 
  tab-size: 2;
  background: white;
  outline: 1px solid lightgray;
  color: black;
  width: 99%; /* Should be < 100% to allow some room to show the scrollbar */
  height: 100%;
  padding: 5px;
  overflow: auto;
  overflow-x: hidden; /* Force disable horizontal scrollbar */
}

.badge {
  font-family: Helvetica;
  font-weight: bold;
  background-color: transparent;
  color: orangered;
  text-align: center;
  padding-right: 1em; /* used to be 10px */
  padding-top: 0;
  font-size: 0.65em;
  cursor: pointer;
  user-select: none;
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
}
