@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Fira Code';
  font-size: small;
  /* font-weight: bold; */
}

button {
  font-family: Outfit;
}

p {
  font-weight: normal;
}

::selection {
  background-color: orangered;
}

